/* STYLE GUIDE */

/* Header */

#title {
  color: var(--dark0);
}
#byLine {
  color: var(--dark1);
  -webkit-text-decoration-color: var(--dark1);
  text-decoration-color: var(--dark1);
}
#byLine:hover,
#byLine:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: light) {
  #title {
    color: var(--light1);
  }
  #byLine {
    color: var(--light2);
    -webkit-text-decoration-color: var(--light2);
    text-decoration-color: var(--light2);
  }
  #byLine:hover,
  #byLine:focus-visible {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  background-image: var(--primary);
  padding: 1rem 1rem 0.5rem 1rem;
}
#title {
  text-align: center;
}
#byLine {
  height: 3rem;
  display: inline-block;
  padding: 0.8rem 1rem 0.6rem 1rem;
  border-radius: 1.5rem;
  transition: background-color 200ms;
  text-align: center;
}

/* Footer */

footer {
  padding: 2rem 1rem;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
#footer-main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
#footer-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
footer p {
  margin-bottom: 0.25rem;
}
footer a,
footer a:visited {
  color: var(--light1);
  text-decoration-color: transparent;
  transition: text-decoration-color 200ms;
}
footer a:hover {
  text-decoration-color: var(--light1);
}

/*Extra*/
/*Keep at bottom*/

body {
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
}

/* STYLES */

main {
  padding: 1rem;
}
