/* STYLE GUIDE */

/* Inputs Extra */

button.large.circle,
a.button.large.circle {
  min-width: 3rem;
}

/* Featured Inputs Extra */

#featured-filter::after,
.tag.featured::after {
  content: 'Featured';
}

/* STYLES */

/* Body */

body {
  overflow-wrap: anywhere;
}

/* Header */

header {
  display: flex;
  width: auto;
  align-items: flex-start;
  margin-bottom: 0;
  transition: margin-bottom 200ms ease-out;
  transition-delay: 200ms;
  padding: 0.5rem;
  position: relative;
}
#headerBg {
  background-image: var(--primary);
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100% + 1rem);
  transform-origin: top right;
  transition: transform 200ms ease-out;
  transition-delay: 200ms;
}

/*Header Left*/

header #left {
  margin: 0 0.6rem;
}
h1 {
  font-size: clamp(1.25rem, 40px + (60 - 40) * ((100vw - 480px) / (800 - 480)), 3.75rem);
  margin: 0;
  overflow-wrap: normal;
}
span.noWrap {
  white-space: nowrap;
}
h4 {
  font-weight: normal;
  font-size: 1.25rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
}
h1,
:root.always-dark h1 {
  color: var(--dark0);
}
h4,
:root.always-dark h4 {
  color: var(--dark1);
}
@media (prefers-color-scheme: light) {
  h1 {
    color: var(--light1);
  }
  h4 {
    color: var(--light2);
  }
}
:root.always-light h1 {
  color: var(--light1);
}
:root.always-light h4 {
  color: var(--light2);
}

/*Header Right*/

header #right {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.links {
  display: flex;
  align-items: center;
  min-height: 3rem;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
}
.links h5 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  margin-right: 0.6rem;
}
.links img {
  height: 1.6rem;
  min-width: 1.6rem;
  width: 1.6rem;
}
.links.ripple:hover,
.links.ripple:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
}
.links,
:root.always-dark .links {
  text-decoration-color: var(--dark1);
}
.links h5,
:root.always-dark .links h5 {
  color: var(--dark1);
}
.links.ripple:hover,
.links.ripple:focus-visible,
:root.always-dark .links.ripple:hover,
:root.always-dark .links.ripple:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (prefers-color-scheme: light) {
  .links {
    text-decoration-color: var(--light2);
  }
  .links h5 {
    color: var(--light2);
  }
  .links.ripple:hover,
  .links.ripple:focus-visible {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
:root.always-light .links {
  text-decoration-color: var(--light2);
}
:root.always-light .links h5 {
  color: var(--light2);
}
:root.always-light .links.ripple:hover,
:root.always-light .links.ripple:focus-visible {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Blurb*/

#headerBg,
#left,
#right {
  z-index: 1;
}
#blurbBox {
  position: absolute;
  z-index: 0;
  inset: 0.5rem;
}
main {
  background-color: var(--dark0);
  position: relative;
  padding-top: 0;
}
#shape {
  float: right;
  shape-outside: polygon(
    0% 0%,
    100% 0%,
    100% calc(var(--right) + 1rem),
    0% calc(var(--left) + 1rem)
  );
  shape-margin: 0.5rem;
  width: 100%;
  height: calc(max(var(--right), var(--left)) + 1rem);
}
#blurb {
  padding: 0.5rem;
  overflow-wrap: normal;
}
#insta-blurb {
  display: none;
}

/* Main */

main {
  padding: 0 0.5rem 1rem 0.5rem;
}

section {
  margin-top: 3rem;
}
h2 {
  color: var(--light1);
  font-size: 2.25rem;
  font-weight: normal;
}

/* Filters */

#filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 0;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
}
.filter {
  opacity: 1;
  white-space: nowrap;
  margin-right: 0.5rem;
}
.ripple.filter {
  transition:
    background-color 200ms,
    background-image 200ms,
    padding 200ms,
    opacity 200ms,
    max-width 200ms,
    margin-right 200ms;
}
.filtered.filter {
  background-color: var(--dark2);
  cursor: default;
}
.filtered.filter.featured::before,
.filtered.filter.featured::after {
  opacity: 1;
}
.filter.remove {
  opacity: 0;
  padding: 0;
  margin-right: 0;
}
.filter.subfilter {
  display: none;
}
#clearFilter,
#shareFilter {
  display: none;
  opacity: 0;
  transition:
    background-color 200ms,
    opacity 200ms;
}
#clearFilter.show,
#shareFilter.show {
  opacity: 1;
}

/* Projects list */

#projects {
  --extraHeight: 0px;
  max-height: calc(40rem + var(--extraHeight));
  transition: max-height 200ms ease-out;
  overflow: hidden;
  position: relative;
}
#shadowOverlay {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, transparent, var(--dark0));
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 200ms ease-out;
}
#shadowOverlay button {
  pointer-events: auto;
  box-shadow: 0 0 2rem var(--dark0);
}

/*Item body*/

.item {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: var(--dark1);
  border-radius: 2rem;
  transition:
    border-radius 200ms 400ms,
    padding 200ms,
    opacity 200ms,
    max-height 200ms,
    min-height 200ms,
    margin-top 200ms;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.item:first-of-type {
  margin-top: 0;
}
.item .info {
  display: flex;
  align-items: center;
}
.item .tags {
  opacity: 0;
  margin-top: 0;
  max-height: 0;
  transition:
    opacity 200ms,
    margin-top 200ms,
    max-height 200ms;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.item.open .tags {
  opacity: 1;
  margin-top: 0.5rem;
  max-height: 4rem;
}
.item .tags .tag {
  background-color: var(--dark2);
  white-space: nowrap;
}
.item .tags .tag.featured::before,
.item .tags .tag.featured::after {
  opacity: 1;
}
.feature {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.2rem;
  height: 2.2rem;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-image: var(--primary);
}
.item.remove {
  opacity: 0;
  padding: 0 0.6rem;
  margin-top: 0;
  min-height: 0;
}
.collapsible.open {
  border-radius: 2rem 2rem 0 0;
  transition:
    border-radius 200ms,
    padding 200ms,
    opacity 200ms,
    max-height 200ms,
    min-height 200ms,
    margin-top 200ms;
}

/*Tags*/

/*Dropdown content*/

.content {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}
.content.open {
  transition: max-height 200ms ease-out 200ms;
}
.content iframe,
.content .gist,
.content .cards {
  width: 100%;
}
.content iframe,
.gist {
  height: 80vh;
}
.content iframe {
  border: none;
}
.content .cards {
  columns: 3 25rem;
  column-gap: 0.6rem;
}
.content .cards img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  transition: transform 200ms;
  cursor: zoom-in;
}

/* GitHub Gist */

.gist {
  overflow-x: auto;
}
.content .gist .gist-file {
  margin-bottom: 0;
}
.gist-meta {
  display: none;
}
.content .gist .gist-file .gist-data,
.content .gist .gist-file {
  border: none;
}
.content .gist .gist-data,
.content .gist .file-box,
.content .gist .file,
.content .gist .Box-body {
  overflow: visible;
}
.gist {
  scrollbar-width: thin;
}

/* Ripple circles */

.ripple {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 200ms;
}
.ripple img {
  pointer-events: none;
}
.ripple:hover,
.ripple:focus-visible,
#clearFilter:hover,
#clearFilter:focus-visible {
  background-color: var(--dark2);
}
span.ripplecircle {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripplecircle 600ms linear;
}
span.ripplecircle,
:root.always-dark > span.ripplecircle {
  background-color: rgba(255, 255, 255, 0.4);
}
@media (prefers-color-scheme: light) {
  span.ripplecircle {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
:root.always-light > span.ripplecircle {
  background-color: rgba(0, 0, 0, 0.4);
}
@keyframes ripplecircle {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Item insides */

/*Dropdown arrows*/

.transitionDisabled {
  transition: none !important;
}
.arrow {
  transform: rotate(-90deg);
  margin: 0 0 0 0.25rem;
  transition:
    margin 200ms ease-out,
    transform 200ms ease-out;
}
.item.open .arrow {
  transform: rotate(0deg);
  margin: 0.25rem 0 0 0;
}

/*Project icon*/

.icon {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  margin-left: 0.6rem;
}
.rounded {
  border-radius: 0.5rem;
}
.circle {
  border-radius: 999rem;
}

/*Project title*/

.item .text {
  margin-right: auto;
  margin-left: 1rem;
  overflow-wrap: normal;
}
.item .text h3 {
  color: var(--light1);
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 0.1rem 0;
  display: inline-block;
}
.item .text p {
  color: var(--light2);
  font-size: 1rem;
  margin: 0;
}
.item .text h3,
.item .text p {
  cursor: text;
}

/*Buttons*/

.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}
.shareIcon {
  margin-right: 0.15rem;
}
a.button.large.circle.thangs {
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
}

/*Share Copied*/

.check {
  opacity: 0;
  position: absolute;
}
.check.copied {
  animation: fadein 6s;
}
@keyframes fadein {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  85% {
    opacity: 1;
  }
}
.shareIcon.copied {
  animation: fadeout 6s;
}
@keyframes fadeout {
  0%,
  100% {
    opacity: 1;
  }
  5%,
  85% {
    opacity: 0;
  }
}

/* Pulse */

.pulse-once,
.pulse-once button:not(.tag),
.pulse-once a {
  animation: pulse 2s;
  animation-delay: 1s;
}
.pulse {
  animation: pulse 2s infinite;
  animation-delay: 2s;
}
@keyframes pulse {
  0%,
  100% {
    background-color: var(--dark1);
  }
  50% {
    background-color: var(--dark2);
  }
}

/* Testimonials */

#testimonialBox {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.testimonial {
  background-color: var(--dark1);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 55ch;
}
.testimonial blockquote,
.testimonial p {
  text-align: center;
}
.testimonial blockquote {
  color: var(--light1);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.testimonial p {
  color: var(--light2);
}

/* Stats */

#statsBox {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
.stat {
  background-color: var(--dark1);
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stat p {
  text-align: center;
}
.stat .number {
  color: var(--light1);
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.stat .description {
  color: var(--light2);
}
.stat .number .unit {
  color: var(--light2);
  font-size: 1rem;
}
.stat .description:has(button) {
  display: flex;
  white-space: pre;
}
.stat button {
  background-color: var(--dark2);
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.stat button:not([disabled]):hover,
.stat button:not([disabled]):focus-visible {
  background-color: var(--dark3);
}
.stat .loading:after {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: loading-ellipsis;
  animation-timing-function: linear;
  content: '...';
  line-height: 1em;
}
@keyframes loading-ellipsis {
  0% {
    content: '⣷';
  }
  12.5% {
    content: '⣯';
  }
  25% {
    content: '⣟';
  }
  37.5% {
    content: '⡿';
  }
  50% {
    content: '⢿';
  }
  62.5% {
    content: '⣻';
  }
  75% {
    content: '⣽';
  }
  87.5%,
  100% {
    content: '⣾';
  }
}
.stat .loading.error:after {
  animation: none;
  content: '🗙';
}

/* Fullscreen Images */

#fullscreenbg {
  cursor: zoom-out;
}
#fullscreenimg {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transition: opacity 2000ms;
}
#fullscreenbg:not(.out) #fullscreenimg {
  opacity: 1;
}

/* GitHub Gist dark mode */

@media (prefers-color-scheme: dark) {
  .gist {
    font-size: 18px;
  }
  .gist-meta,
  .gist-file,
  .octotree_toggle,
  ul.comparison-list > li.title,
  button.button,
  .gist a.button,
  span.button,
  button.minibutton,
  a.minibutton,
  span.minibutton,
  .clone-url-button > .clone-url-link {
    background: linear-gradient(#202020, #181818) !important;
    border-color: #383838 !important;
    border-radius: 0 0 3px 3px !important;
    text-shadow: none !important;
    color: #b5b5b5 !important;
  }
  .markdown-format pre,
  .markdown-body pre,
  .markdown-format .highlight pre,
  .markdown-body .highlight pre,
  body.blog pre,
  #facebox pre,
  .blob-expanded,
  .terminal,
  .copyable-terminal,
  #notebook .input_area,
  .blob-code-context,
  .markdown-format code,
  body.blog pre > code,
  .api pre,
  .api code,
  .CodeMirror,
  .highlight {
    background-color: #1d1f21 !important;
    color: #c5c8c6 !important;
  }
  .gist .blob-code {
    padding: 1px 10px !important;
    text-align: left;
    background: #000;
    border: 0;
  }
  ::-moz-selection {
    background: #24890d;
    color: #fff;
    text-shadow: none;
  }
  .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    color: #6b6b6b !important;
    border: 0;
  }
  .blob-code,
  .blob-code-inner {
    color: #c5c8c6 !important;
  }
  .pl-c,
  .pl-c span {
    color: #969896 !important;
    font-style: italic !important;
  }
  .pl-c1 {
    color: #de935f !important;
  }
  .pl-cce {
    color: #de935f !important;
  }
  .pl-cn {
    color: #de935f !important;
  }
  .pl-coc {
    color: #de935f !important;
  }
  .pl-cos {
    color: #b5bd68 !important;
  }
  .pl-e {
    color: #f0c674 !important;
  }
  .pl-ef {
    color: #f0c674 !important;
  }
  .pl-en {
    color: #f0c674 !important;
  }
  .pl-enc {
    color: #de935f !important;
  }
  .pl-enf {
    color: #f0c674 !important;
  }
  .pl-enm {
    color: #f0c674 !important;
  }
  .pl-ens {
    color: #de935f !important;
  }
  .pl-ent {
    color: #b294bb !important;
  }
  .pl-entc {
    color: #f0c674 !important;
  }
  .pl-enti {
    color: #f0c674 !important;
    font-weight: 700 !important;
  }
  .pl-entm {
    color: #c66 !important;
  }
  .pl-eoa {
    color: #b294bb !important;
  }
  .pl-eoac {
    color: #c66 !important;
  }
  .pl-eoac .pl-pde {
    color: #c66 !important;
  }
  .pl-eoai {
    color: #b294bb !important;
  }
  .pl-eoai .pl-pde {
    color: #b294bb !important;
  }
  .pl-eoi {
    color: #f0c674 !important;
  }
  .pl-k {
    color: #b294bb !important;
  }
  .pl-ko {
    color: #b294bb !important;
  }
  .pl-kolp {
    color: #b294bb !important;
  }
  .pl-kos {
    color: #de935f !important;
  }
  .pl-kou {
    color: #de935f !important;
  }
  .pl-mai .pl-sf {
    color: #c66 !important;
  }
  .pl-mb {
    color: #b5bd68 !important;
    font-weight: 700 !important;
  }
  .pl-mc {
    color: #b294bb !important;
  }
  .pl-mh .pl-pdh {
    color: #de935f !important;
  }
  .pl-mi {
    color: #b294bb !important;
    font-style: italic !important;
  }
  .pl-ml {
    color: #b5bd68 !important;
  }
  .pl-mm {
    color: #c66 !important;
  }
  .pl-mp {
    color: #81a2be !important;
  }
  .pl-mp1 .pl-sf {
    color: #81a2be !important;
  }
  .pl-mq {
    color: #de935f !important;
  }
  .pl-mr {
    color: #b294bb !important;
  }
  .pl-ms {
    color: #b294bb !important;
  }
  .pl-pdb {
    color: #b5bd68 !important;
    font-weight: 700 !important;
  }
  .pl-pdc {
    color: #969896 !important;
    font-style: italic !important;
  }
  .pl-pdc1 {
    color: #de935f !important;
  }
  .pl-pde {
    color: #de935f !important;
  }
  .pl-pdi {
    color: #b294bb !important;
    font-style: italic !important;
  }
  .pl-pds {
    color: #b5bd68 !important;
  }
  .pl-pdv {
    color: #c66 !important;
  }
  .pl-pse {
    color: #de935f !important;
  }
  .pl-pse .pl-s2 {
    color: #de935f !important;
  }
  .pl-s {
    color: #b294bb !important;
  }
  .pl-s1 {
    color: #b5bd68 !important;
  }
  .pl-s2 {
    color: #c5c8c6 !important;
  }
  .pl-mp .pl-s3 {
    color: #b294bb !important;
  }
  .pl-s3 {
    color: #81a2be !important;
  }
  .pl-sc {
    color: #c5c8c6 !important;
  }
  .pl-scp {
    color: #de935f !important;
  }
  .pl-sf {
    color: #dad085 !important;
  }
  .pl-smc {
    color: #f0c674 !important;
  }
  .pl-smi {
    color: #c5c8c6 !important;
  }
  .pl-smp {
    color: #c5c8c6 !important;
  }
  .pl-sok {
    color: #b294bb !important;
  }
  .pl-sol {
    color: #b5bd68 !important;
  }
  .pl-som {
    color: #c66 !important;
  }
  .pl-sr {
    color: #c66 !important;
  }
  .pl-sra {
    color: #b294bb !important;
  }
  .pl-src {
    color: #b294bb !important;
  }
  .pl-sre {
    color: #b294bb !important;
  }
  .pl-st {
    color: #b294bb !important;
  }
  .pl-stj {
    color: #c5c8c6 !important;
  }
  .pl-stp {
    color: #de935f !important;
  }
  .pl-sv {
    color: #de935f !important;
  }
  .pl-v {
    color: #de935f !important;
  }
  .pl-vi {
    color: #de935f !important;
  }
  .pl-vo {
    color: #c66 !important;
  }
  .pl-vpf {
    color: #de935f !important;
  }
  .pl-mi1 {
    color: #8f9d6a !important;
    background: rgba(0, 64, 0, 0.5) !important;
  }
  .pl-mdht {
    color: #8f9d6a !important;
    background: rgba(0, 64, 0, 0.5) !important;
  }
  .pl-md {
    color: #c66 !important;
    background: rgba(64, 0, 0, 0.5) !important;
  }
  .pl-mdhf {
    color: #c66 !important;
    background: rgba(64, 0, 0, 0.5) !important;
  }
  .pl-mdr {
    color: #de935f !important;
    font-weight: 400 !important;
  }
  .pl-mdh {
    color: #c66 !important;
    font-weight: 400 !important;
  }
  .pl-mdi {
    color: #c66 !important;
    font-weight: 400 !important;
  }
  .pl-ib {
    background-color: #c66 !important;
  }
  .pl-id {
    background-color: #c66 !important;
    color: #fff !important;
  }
  .pl-ii {
    background-color: #c66 !important;
    color: #fff !important;
  }
  .pl-iu {
    background-color: #c66 !important;
  }
  .pl-mo {
    color: #c5c8c6 !important;
  }
  .pl-mri {
    color: #de935f !important;
  }
  .pl-ms1 {
    background-color: #c5c8c6 !important;
  }
  .pl-va {
    color: #de935f !important;
  }
  .pl-vpu {
    color: #de935f !important;
  }
  .pl-entl {
    color: #c5c8c6 !important;
  }
  .CodeMirror-gutters {
    background: #222 !important;
    border-right: 1px solid #484848 !important;
  }
  .CodeMirror-guttermarker {
    color: #fff !important;
  }
  .CodeMirror-guttermarker-subtle {
    color: #aaa !important;
  }
  .CodeMirror-linenumber {
    color: #aaa !important;
  }
  .CodeMirror-cursor {
    border-left: 1px solid #fff !important;
  }
  .CodeMirror-activeline-background {
    background: #27282e !important;
  }
  .CodeMirror-matchingbracket {
    outline: 1px solid grey !important;
    color: #fff !important;
  }
  .cm-keyword {
    color: #f9ee98 !important;
  }
  .cm-atom {
    color: #fc0 !important;
  }
  .cm-number {
    color: #ca7841 !important;
  }
  .cm-def {
    color: #8da6ce !important;
  }
  .cm-variable-2,
  span.cm-tag {
    color: #607392 !important;
  }
  .cm-variable-3,
  span.cm-def {
    color: #607392 !important;
  }
  .cm-operator {
    color: #cda869 !important;
  }
  .cm-comment {
    color: #777 !important;
    font-style: italic !important;
    font-weight: 400 !important;
  }
  .cm-string {
    color: #8f9d6a !important;
  }
  .cm-string-2 {
    color: #bd6b18 !important;
  }
  .cm-meta {
    background-color: #141414 !important;
    color: #f7f7f7 !important;
  }
  .cm-builtin {
    color: #cda869 !important;
  }
  .cm-tag {
    color: #997643 !important;
  }
  .cm-attribute {
    color: #d6bb6d !important;
  }
  .cm-header {
    color: #ff6400 !important;
  }
  .cm-hr {
    color: #aeaeae !important;
  }
  .cm-link {
    color: #ad9361 !important;
    font-style: italic !important;
    text-decoration: none !important;
  }
  .cm-error {
    border-bottom: 1px solid red !important;
  }
  #notebook .highlight table {
    background: #1d1f21 !important;
    color: #c5c8c6 !important;
  }
  .highlight .hll {
    background-color: #373b41 !important;
  }
  .highlight .c {
    color: #969896 !important;
  }
  .highlight .err {
    color: #c66 !important;
  }
  .highlight .k {
    color: #b294bb !important;
  }
  .highlight .l {
    color: #de935f !important;
  }
  .highlight .h,
  .highlight .n {
    color: #c5c8c6 !important;
  }
  .highlight .o {
    color: #8abeb7 !important;
  }
  .highlight .p {
    color: #c5c8c6 !important;
  }
  .highlight .cm {
    color: #969896 !important;
  }
  .highlight .cp {
    color: #969896 !important;
  }
  .highlight .c1 {
    color: #969896 !important;
  }
  .highlight .cs {
    color: #969896 !important;
  }
  .highlight .gd {
    color: #c66 !important;
  }
  .highlight .ge {
    font-style: italic !important;
  }
  .highlight .gh {
    color: #c5c8c6 !important;
    font-weight: 700 !important;
  }
  .highlight .gi {
    color: #b5bd68 !important;
  }
  .highlight .gp {
    color: #969896 !important;
    font-weight: 700 !important;
  }
  .highlight .gs {
    font-weight: 700 !important;
  }
  .highlight .gu {
    color: #8abeb7 !important;
    font-weight: 700 !important;
  }
  .highlight .kc {
    color: #b294bb !important;
  }
  .highlight .kd {
    color: #b294bb !important;
  }
  .highlight .kn {
    color: #8abeb7 !important;
  }
  .highlight .kp {
    color: #b294bb !important;
  }
  .highlight .kr {
    color: #b294bb !important;
  }
  .highlight .kt {
    color: #f0c674 !important;
  }
  .highlight .ld {
    color: #b5bd68 !important;
  }
  .highlight .m {
    color: #de935f !important;
  }
  .highlight .s {
    color: #b5bd68 !important;
  }
  .highlight .na {
    color: #81a2be !important;
  }
  .highlight .nb {
    color: #c5c8c6 !important;
  }
  .highlight .nc {
    color: #f0c674 !important;
  }
  .highlight .no {
    color: #c66 !important;
  }
  .highlight .nd {
    color: #8abeb7 !important;
  }
  .highlight .ni {
    color: #c5c8c6 !important;
  }
  .highlight .ne {
    color: #c66 !important;
  }
  .highlight .nf {
    color: #81a2be !important;
  }
  .highlight .nl {
    color: #c5c8c6 !important;
  }
  .highlight .nn {
    color: #f0c674 !important;
  }
  .highlight .nx {
    color: #81a2be !important;
  }
  .highlight .py {
    color: #c5c8c6 !important;
  }
  .highlight .nt {
    color: #8abeb7 !important;
  }
  .highlight .nv {
    color: #c66 !important;
  }
  .highlight .ow {
    color: #8abeb7 !important;
  }
  .highlight .w {
    color: #c5c8c6 !important;
  }
  .highlight .mf {
    color: #de935f !important;
  }
  .highlight .mh {
    color: #de935f !important;
  }
  .highlight .mi {
    color: #de935f !important;
  }
  .highlight .mo {
    color: #de935f !important;
  }
  .highlight .sb {
    color: #b5bd68 !important;
  }
  .highlight .sc {
    color: #c5c8c6 !important;
  }
  .highlight .sd {
    color: #969896 !important;
  }
  .highlight .s2 {
    color: #b5bd68 !important;
  }
  .highlight .se {
    color: #de935f !important;
  }
  .highlight .sh {
    color: #b5bd68 !important;
  }
  .highlight .si {
    color: #de935f !important;
  }
  .highlight .sx {
    color: #b5bd68 !important;
  }
  .highlight .sr {
    color: #b5bd68 !important;
  }
  .highlight .s1 {
    color: #b5bd68 !important;
  }
  .highlight .ss {
    color: #b5bd68 !important;
  }
  .highlight .bp {
    color: #c5c8c6 !important;
  }
  .highlight .vc {
    color: #c66 !important;
  }
  .highlight .vg {
    color: #c66 !important;
  }
  .highlight .vi {
    color: #c66 !important;
  }
  .highlight .il {
    color: #de935f !important;
  }
}

/* Easter Eggs */

/*Hue, Saturation, and Brightness*/

#hue,
#sat,
#bri {
  cursor: pointer;
  display: inline-block;
  transform-origin: center 60%;
}

/*Splash Text*/

#splashText.splash {
  width: fit-content;
  animation: splash 1s infinite;
}
@keyframes splash {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

/*Tilt*/

#tilt {
  display: inline-block;
  transform-origin: 20% 80%;
  transition: transform 200ms;
}
#tilt:hover {
  transform: rotate(10deg);
}
#tilt.hang {
  transition: transform 1s cubic-bezier(1, 0, 0.5, 1.5);
  transform: rotate(180deg);
}
@keyframes hang {
  0%,
  100% {
    background-color: var(--dark1);
  }
  50% {
    background-color: var(--dark2);
  }
}

/*Hi!*/

#hi {
  transition: text-shadow 200ms;
}
#hi:hover {
  text-shadow: var(--text-shadow);
}
